@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: raleway;
  src: url("../fonts/raleway/regular/raleway-regular.eot");
  src: url("../fonts/raleway/regular/raleway-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/regular/raleway-regular.woff2") format("woff2"), url("../fonts/raleway/regular/raleway-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: url("../fonts/raleway/medium/raleway-medium.eot");
  src: url("../fonts/raleway/medium/raleway-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/medium/raleway-medium.woff2") format("woff2"), url("../fonts/raleway/medium/raleway-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: url("//fonts/raleway/semi-bold/raleway-semibold.eot");
  src: url("//fonts/raleway/semi-bold/raleway-semibold.eot?#iefix") format("embedded-opentype"), url("//fonts/raleway/semi-bold/raleway-semibold.woff2") format("woff2"), url("//fonts/raleway/semi-bold/raleway-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: url("../fonts/raleway/extra-bold/raleway-extrabold.eot");
  src: url("../fonts/raleway/extra-bold/raleway-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/extra-bold/raleway-extrabold.woff2") format("woff2"), url("../fonts/raleway/extra-bold/raleway-extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat/light/montserrat-light.eot");
  src: url("../fonts/montserrat/light/montserrat-light.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/light/montserrat-light.woff2") format("woff2"), url("../fonts/montserrat/light/montserrat-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat/extra-light/montserrat-extralight.eot");
  src: url("../fonts/montserrat/extra-light/montserrat-extralight.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/extra-light/montserrat-extralight.woff2") format("woff2"), url("../fonts/montserrat/extra-light/montserrat-extralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
.ad__title, .header__logo-text {
  font-family: "raleway", "arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header__subtitle {
  font-family: "raleway", "arial", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.our-latsest-projects__textbox-title, .screenshots__textbox-title, .activities__item span {
  font-family: "raleway", "arial", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.ad__button-text, .header__button, .header__title {
  font-family: "raleway", "arial", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.our-latsest-projects__menubox-button, .our-latsest-projects__textbox-txt, .ad__text, .screenshots__textbox-txt, .activities__item p, .header__text, .header__item-link {
  font-family: "montserrat", "arial", sans-serif;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: raleway;
  src: url("../fonts/raleway/regular/raleway-regular.eot");
  src: url("../fonts/raleway/regular/raleway-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/regular/raleway-regular.woff2") format("woff2"), url("../fonts/raleway/regular/raleway-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: url("../fonts/raleway/medium/raleway-medium.eot");
  src: url("../fonts/raleway/medium/raleway-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/medium/raleway-medium.woff2") format("woff2"), url("../fonts/raleway/medium/raleway-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: url("//fonts/raleway/semi-bold/raleway-semibold.eot");
  src: url("//fonts/raleway/semi-bold/raleway-semibold.eot?#iefix") format("embedded-opentype"), url("//fonts/raleway/semi-bold/raleway-semibold.woff2") format("woff2"), url("//fonts/raleway/semi-bold/raleway-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: url("../fonts/raleway/extra-bold/raleway-extrabold.eot");
  src: url("../fonts/raleway/extra-bold/raleway-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/extra-bold/raleway-extrabold.woff2") format("woff2"), url("../fonts/raleway/extra-bold/raleway-extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat/light/montserrat-light.eot");
  src: url("../fonts/montserrat/light/montserrat-light.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/light/montserrat-light.woff2") format("woff2"), url("../fonts/montserrat/light/montserrat-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat/extra-light/montserrat-extralight.eot");
  src: url("../fonts/montserrat/extra-light/montserrat-extralight.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/extra-light/montserrat-extralight.woff2") format("woff2"), url("../fonts/montserrat/extra-light/montserrat-extralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
.ad__title, .header__logo-text {
  font-family: "raleway", "arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header__subtitle {
  font-family: "raleway", "arial", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.our-latsest-projects__textbox-title, .screenshots__textbox-title, .activities__item span {
  font-family: "raleway", "arial", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.ad__button-text, .header__button, .header__title {
  font-family: "raleway", "arial", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.our-latsest-projects__menubox-button, .our-latsest-projects__textbox-txt, .ad__text, .screenshots__textbox-txt, .activities__item p, .header__text, .header__item-link {
  font-family: "montserrat", "arial", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.header {
  display: flex;
  flex-direction: column;
  width: 1920px;
  height: 1024px;
  border: 1px solid #000;
  box-sizing: border-box;
  background-image: url(../img/background-images/header-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #555556;
  background-blend-mode: multiply;
}
.header__top {
  display: flex;
  margin: 30px 0 0 0;
  padding: 0 374px 0 376px;
}
.header__logo {
  display: flex;
  margin-top: 8px;
  transition: transform 500ms;
}
.header__logo:hover {
  transform: scale(1.1);
}
.header__logo:active {
  transform: scale(0.9);
}
.header__logo-text {
  margin: 8px 0 15px -20px;
  font-size: 34px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: right;
  color: #ffffff;
}
.header__nav {
  display: flex;
  margin-left: 185px;
  padding: 28px;
  min-width: 699px;
}
.header__list {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
}
.header__item {
  display: flex;
}
.header__item-link {
  -o-object-fit: contain;
     object-fit: contain;
  font-size: 14px;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  display: flex;
}
.header__item-link:hover {
  color: #c7b299;
}
.header__basket-button {
  margin: 3px 22px 11px 31px;
  background: none;
}
.header__search-form {
  padding: 23px 0 10px 0;
}
.header__search-form input[type=search] {
  width: 40px;
  height: 40px;
  outline: none;
  background-image: url("../img/icons/search-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid gray;
}
.header__search-form input[type=search]:focus {
  width: 300px;
  transition: width 1s ease-out;
  background-position: right;
}
.header__carousel {
  width: 1920px;
  min-height: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 150px 0 150px;
}
.header__carousel-textbox {
  min-height: 200px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 256px 0 118px 0;
  margin-bottom: 152px;
  color: #ffffff;
}
.header__arrow_left {
  box-sizing: border-box;
  height: 80px;
  width: 45px;
  margin-top: 352px;
}
.header__arrow_right {
  height: 80px;
  width: 45px;
  margin-top: 352px;
}
.header__subtitle {
  align-items: center;
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
.header__title {
  margin: 0 auto;
  font-size: 52px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.header__text {
  margin: 0 auto;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
}
.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 53px;
  margin: 0 auto;
  background-color: #998675;
  border-radius: 3px;
  box-shadow: inset 0px -3px 0 0 #736357;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: transform 500ms;
}
.header__button:hover {
  background-color: #998675;
  transform: scale(1.05);
}
.header__button:hover span {
  color: #555555;
}
.header__button:active {
  background-color: #736357;
  transform: scale(0.95);
}
.header__button:active span {
  color: #ffffff;
}
.header__button-text {
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 52px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
.header__paggination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 30px;
  margin-top: 45px;
}
.header__paggination-item {
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: gold;
}
.header__paggination-item:hover {
  background-color: transparent;
  border: 2px solid gold;
  transform: scale(1.2);
}

.main {
  width: 1920px;
}

.activities {
  height: 373px;
  background-color: #ffffff;
  display: flex;
}
.activities .container {
  border: 1px solid #000;
  margin: auto;
  width: 1166px;
  height: 215px;
  display: flex;
}
.activities__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.activities__item img {
  display: block;
}
.activities__item span {
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #555555;
}
.activities__item p {
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #8c8c8c;
}
.activities__item:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
}
.activities__item:hover span {
  color: #c7b299;
}
.activities__item:hover:after {
  background-color: #c7b299;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: raleway;
  src: url("../fonts/raleway/regular/raleway-regular.eot");
  src: url("../fonts/raleway/regular/raleway-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/regular/raleway-regular.woff2") format("woff2"), url("../fonts/raleway/regular/raleway-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: url("../fonts/raleway/medium/raleway-medium.eot");
  src: url("../fonts/raleway/medium/raleway-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/medium/raleway-medium.woff2") format("woff2"), url("../fonts/raleway/medium/raleway-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: url("//fonts/raleway/semi-bold/raleway-semibold.eot");
  src: url("//fonts/raleway/semi-bold/raleway-semibold.eot?#iefix") format("embedded-opentype"), url("//fonts/raleway/semi-bold/raleway-semibold.woff2") format("woff2"), url("//fonts/raleway/semi-bold/raleway-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: url("../fonts/raleway/extra-bold/raleway-extrabold.eot");
  src: url("../fonts/raleway/extra-bold/raleway-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/extra-bold/raleway-extrabold.woff2") format("woff2"), url("../fonts/raleway/extra-bold/raleway-extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat/light/montserrat-light.eot");
  src: url("../fonts/montserrat/light/montserrat-light.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/light/montserrat-light.woff2") format("woff2"), url("../fonts/montserrat/light/montserrat-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat/extra-light/montserrat-extralight.eot");
  src: url("../fonts/montserrat/extra-light/montserrat-extralight.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/extra-light/montserrat-extralight.woff2") format("woff2"), url("../fonts/montserrat/extra-light/montserrat-extralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
.ad__title, .header__logo-text {
  font-family: "raleway", "arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header__subtitle {
  font-family: "raleway", "arial", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.our-latsest-projects__textbox-title, .screenshots__textbox-title, .activities__item span {
  font-family: "raleway", "arial", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.ad__button-text, .header__title, .header__button {
  font-family: "raleway", "arial", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.our-latsest-projects__menubox-button, .our-latsest-projects__textbox-txt, .ad__text, .screenshots__textbox-txt, .header__item-link, .header__text, .activities__item p {
  font-family: "montserrat", "arial", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.screenshots {
  display: flex;
  flex-wrap: wrap;
  padding: 80px 344px 0 344px;
  height: 700px;
  border: 1px solid rgb(162, 0, 255);
  background-color: #fbfaf8;
}
.screenshots__textbox {
  margin: 0 auto;
  width: 760px;
  flex-wrap: wrap;
}
.screenshots__textbox-title {
  display: block;
  margin: 0 auto 14px;
  -o-object-fit: contain;
     object-fit: contain;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #555555;
  width: 100%;
}
.screenshots__textbox-txt {
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #8c8c8c;
}
.screenshots__images {
  width: 100%;
  min-height: 485px;
  background-image: url("/img/browser-center@3x.jpg"), url("/img/browser-left@3x.jpg"), url("/img/browser-right@3x.jpg");
  background-size: 62%, 62%, 62%;
  background-repeat: no-repeat;
  background-position: bottom center, bottom left, bottom right;
}
.screenshots__images:hover {
  background-image: url("/img/browser-left@3x.jpg"), url("/img/browser-center@3x.jpg"), url("/img/browser-right@3x.jpg");
}

.ad {
  height: 150px;
  border: 1px solid rgb(0, 255, 4);
  background-image: linear-gradient(to top, #211b19, #4e3427);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ad__wrapper {
  margin: 0 470px 0 0;
}

.ad__title {
  font-weight: 400;
  width: 100%;
  margin: 0;
  font-size: 28px;
  color: #ffffff;
  line-height: 1.2;
  text-align: left;
}

.ad__title span {
  color: #c7b299;
}

.ad__text {
  color: #615855;
  width: 100%;
  margin: 0;
  -o-object-fit: contain;
     object-fit: contain;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.ad__button {
  width: 170px;
  min-height: 50px;
  border: none;
  border-bottom: 2px solid #736357;
  border-radius: 3px;
  background-color: #998675;
  box-shadow: inset 0px -3px 0 0 #736357;
}

.ad__button-text {
  color: #ffffff;
  -o-object-fit: contain;
     object-fit: contain;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  text-align: center;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: raleway;
  src: url("../fonts/raleway/regular/raleway-regular.eot");
  src: url("../fonts/raleway/regular/raleway-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/regular/raleway-regular.woff2") format("woff2"), url("../fonts/raleway/regular/raleway-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: url("../fonts/raleway/medium/raleway-medium.eot");
  src: url("../fonts/raleway/medium/raleway-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/medium/raleway-medium.woff2") format("woff2"), url("../fonts/raleway/medium/raleway-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: url("//fonts/raleway/semi-bold/raleway-semibold.eot");
  src: url("//fonts/raleway/semi-bold/raleway-semibold.eot?#iefix") format("embedded-opentype"), url("//fonts/raleway/semi-bold/raleway-semibold.woff2") format("woff2"), url("//fonts/raleway/semi-bold/raleway-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: url("../fonts/raleway/extra-bold/raleway-extrabold.eot");
  src: url("../fonts/raleway/extra-bold/raleway-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/extra-bold/raleway-extrabold.woff2") format("woff2"), url("../fonts/raleway/extra-bold/raleway-extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat/light/montserrat-light.eot");
  src: url("../fonts/montserrat/light/montserrat-light.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/light/montserrat-light.woff2") format("woff2"), url("../fonts/montserrat/light/montserrat-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat/extra-light/montserrat-extralight.eot");
  src: url("../fonts/montserrat/extra-light/montserrat-extralight.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/extra-light/montserrat-extralight.woff2") format("woff2"), url("../fonts/montserrat/extra-light/montserrat-extralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
.header__logo-text, .ad__title {
  font-family: "raleway", "arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header__subtitle {
  font-family: "raleway", "arial", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.our-latsest-projects__textbox-title, .activities__item span, .screenshots__textbox-title {
  font-family: "raleway", "arial", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.header__title, .header__button, .ad__button-text {
  font-family: "raleway", "arial", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.our-latsest-projects__menubox-button, .our-latsest-projects__textbox-txt, .header__item-link, .header__text, .activities__item p, .screenshots__textbox-txt, .ad__text {
  font-family: "montserrat", "arial", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.our-latsest-projects {
  height: 1160px;
  border: 1px solid rgb(162, 0, 255);
  background-color: #ffffff;
  padding: 80px 375px;
}
.our-latsest-projects__container {
  background: #9b6a6a;
  display: flex;
  flex-direction: column;
}
.our-latsest-projects__textbox {
  background: #6699a8;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.our-latsest-projects__textbox-title {
  display: block;
  margin: 0 auto 14px;
  -o-object-fit: contain;
     object-fit: contain;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #555555;
  width: 100%;
}
.our-latsest-projects__textbox-txt {
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #8c8c8c;
}
.our-latsest-projects__menubox {
  background: greenyellow;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.our-latsest-projects__menubox-container {
  width: 605px;
  height: 32px;
  display: flex;
  justify-content: space-between;
}
.our-latsest-projects__menubox-button {
  background: transparent;
  color: #8c8c8c;
  width: 120px;
  height: 32px;
  margin: 0 10px 0 0;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 3px;
  border: solid 1px #ebebeb;
}
.our-latsest-projects__menubox-button:last-child {
  margin: 0;
}
.our-latsest-projects__picturebox {
  background: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.our-latsest-projects__picturebox-item {
  background: gold;
  width: 33.333%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.our-latsest-projects__picturebox-item-pic {
  background: blue;
}
.our-latsest-projects__picturebox-item-title {
  background: blueviolet;
}
.our-latsest-projects__picturebox-item-txt {
  background: grey;
}
.our-latsest-projects__buttonbox {
  background: orangered;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-latsest-projects__button {
  background: aqua;
}

.waxom-video-presentation {
  height: 705px;
  border: 1px solid rgb(162, 0, 255);
  background-image: url(/img/background-images/video-presentation.png);
}

.excellent-for-mobile {
  height: 695px;
  border: 1px solid rgb(162, 0, 255);
  background-color: #fbfaf8;
}

.quantities {
  height: 300px;
  border: 1px solid rgb(162, 0, 255);
  background-image: linear-gradient(to top, #211b19, #4e3427);
}

.recent-posts {
  height: 750px;
  border: 1px solid rgb(162, 0, 255);
  background-color: #ffffff;
}

.logotypes {
  height: 489px;
  border: 1px solid rgb(162, 0, 255);
  background-image: url(/img/background-images/mountanes.png);
}

.contacts {
  height: 508px;
  border: 1px solid rgb(162, 0, 255);
  background-color: #191919;
}

.footer {
  width: 1920px;
  height: 111px;
  border: 1px solid rgb(162, 0, 255);
  background-color: #111111;
}

.logo {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 181px;
  text-decoration: none;
  background-color: #484642;
  color: #fff;
}

.logo-svg {
  fill: currentColor;
}

.logo-txt {
  font-family: Raleway;
  font-size: 34px; /* Approximation due to font substitution */
  font-weight: 400;
  text-align: right;
}

.logo:hover {
  color: #998675;
}/*# sourceMappingURL=main.css.map */