@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: raleway;
  src: url("../fonts/raleway/regular/raleway-regular.eot");
  src: url("../fonts/raleway/regular/raleway-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/regular/raleway-regular.woff2") format("woff2"), url("../fonts/raleway/regular/raleway-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: url("../fonts/raleway/medium/raleway-medium.eot");
  src: url("../fonts/raleway/medium/raleway-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/medium/raleway-medium.woff2") format("woff2"), url("../fonts/raleway/medium/raleway-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: url("//fonts/raleway/semi-bold/raleway-semibold.eot");
  src: url("//fonts/raleway/semi-bold/raleway-semibold.eot?#iefix") format("embedded-opentype"), url("//fonts/raleway/semi-bold/raleway-semibold.woff2") format("woff2"), url("//fonts/raleway/semi-bold/raleway-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: url("../fonts/raleway/extra-bold/raleway-extrabold.eot");
  src: url("../fonts/raleway/extra-bold/raleway-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/extra-bold/raleway-extrabold.woff2") format("woff2"), url("../fonts/raleway/extra-bold/raleway-extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat/light/montserrat-light.eot");
  src: url("../fonts/montserrat/light/montserrat-light.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/light/montserrat-light.woff2") format("woff2"), url("../fonts/montserrat/light/montserrat-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat/extra-light/montserrat-extralight.eot");
  src: url("../fonts/montserrat/extra-light/montserrat-extralight.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/extra-light/montserrat-extralight.woff2") format("woff2"), url("../fonts/montserrat/extra-light/montserrat-extralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
.header__logo {
  font-family: "raleway", "arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header__subtitle {
  font-family: "raleway", "arial", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.header__button, .header__title {
  font-family: "raleway", "arial", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.header__text, .header__item-link {
  font-family: "montserrat", "arial", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.header {
  display: flex;
  flex-direction: column;
  width: 1920px;
  height: 1024px;
  border: 1px solid #000;
  box-sizing: border-box;
  background-image: url(../img/background-images/header-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #555556;
  background-blend-mode: multiply;
}
.header__top {
  border: 1px solid #ff0000;
  display: flex;
  margin: 30px 0 0 0;
  padding: 0 374px 0 376px;
}
.header__logo {
  border: 1px solid #f6ff00;
  box-sizing: border-box;
  display: flex;
  margin-top: 8px;
}
.header__logo-text {
  margin: 8px 0 15px -20px;
  font-size: 34px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: right;
  color: #ffffff;
}
.header__nav {
  border: 1px solid #1d00f9;
  display: flex;
  margin-left: 185px;
  padding: 28px;
  min-width: 699px;
}
.header__list {
  display: flex;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
}
.header__item {
  border: 1px solid #e90707;
  display: flex;
}
.header__item-link {
  -o-object-fit: contain;
     object-fit: contain;
  font-size: 14px;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  border: 1px solid #ffe600;
  display: flex;
}
.header__basket-button {
  margin: 3px 22px 11px 31px;
  background: none;
}
.header__search-form {
  padding: 23px 0 10px 0;
}
.header__carousel {
  border: 1px solid #ff00bb;
  width: 1920px;
  min-height: 909px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 150px 0 150px;
}
.header__carousel-textbox {
  border: 1px solid #000;
  min-height: 200px;
  width: 600px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 261px 0 383px 0;
}
.header__paggination {
  width: 100%;
}
.header__arrow_left {
  box-sizing: border-box;
  border: 1px solid #9e0000;
  height: 80px;
  width: 45px;
  margin-top: 352px;
}
.header__arrow_right {
  border: 1px solid #0d01b9;
  height: 80px;
  width: 45px;
  margin-top: 352px;
}
.header__subtitle {
  background: #000;
  align-items: center;
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
.header__title {
  background: #ccc;
  margin: 0 auto;
  font-size: 52px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.header__text {
  background: #827676;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
}
.header__button {
  width: 170px;
  height: 53px;
  margin: 0 auto;
  background-color: #998675;
  border-radius: 3px;
  box-shadow: inset 0px -3px 0 0 #736357;
  color: #ffffff;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 52px;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.header__button:hover {
  background-color: #ffffff;
  color: #555555;
}
.header__button:active {
  background-color: #736357;
  color: #ffffff;
}
.header__button:visited {
  color: #fff;
}
.header input[type=search] {
  display: none;
}

.main {
  width: 1920px;
}

.activities {
  height: 373px;
  border: 1px solid aqua;
  background-color: #ffffff;
}

.screenshots {
  height: 700px;
  border: 1px solid rgb(162, 0, 255);
  background-color: #fbfaf8;
}

.purchase-now {
  height: 150px;
  border: 1px solid rgb(0, 255, 4);
  background-image: linear-gradient(to top, #211b19, #4e3427);
}

.our-latsest-projects {
  height: 1160px;
  border: 1px solid rgb(162, 0, 255);
  background-color: #ffffff;
}

.waxom-video-presentation {
  height: 705px;
  border: 1px solid rgb(162, 0, 255);
  background-image: url(/img/background-images/video-presentation.png);
}

.excellent-for-mobile {
  height: 695px;
  border: 1px solid rgb(162, 0, 255);
  background-color: #fbfaf8;
}

.quantities {
  height: 300px;
  border: 1px solid rgb(162, 0, 255);
  background-image: linear-gradient(to top, #211b19, #4e3427);
}

.recent-posts {
  height: 750px;
  border: 1px solid rgb(162, 0, 255);
  background-color: #ffffff;
}

.logotypes {
  height: 489px;
  border: 1px solid rgb(162, 0, 255);
  background-image: url(/img/background-images/mountanes.png);
}

.contacts {
  height: 508px;
  border: 1px solid rgb(162, 0, 255);
  background-color: #191919;
}

.footer {
  width: 1920px;
  height: 111px;
  border: 1px solid rgb(162, 0, 255);
  background-color: #111111;
}

.logo {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 181px;
  text-decoration: none;
  background-color: #484642;
  color: #fff;
}

.logo-svg {
  fill: currentColor;
}

.logo-txt {
  font-family: Raleway;
  font-size: 34px; /* Approximation due to font substitution */
  font-weight: 400;
  text-align: right;
}

.logo:hover {
  color: #998675;
}/*# sourceMappingURL=main.css.map */