// ================================================== activities section
.activities {
  height: 373px;
  background-color: $color-icon-primary;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    min-height: 215px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 26px;
  }
  &__item {
    width: calc(100% / 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-img-wrapper {
      height: 60px;
      width: 75px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-img {
      display: block;
      fill: #555555;
    }
    &-title {
      @include title($size: 22px);
      margin: 12px 19px;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
    }
    &-text {
      @include text($size: 14px, $lh: 1.71);
      margin-bottom: 25px;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
    }
    &:after {
      content: '';
      display: block;
      width: 70px;
      height: 3px;
      background-color: $color-line;
    }
    &:hover .activities__item-title {
      color: $color-icon-active;
    }
    &:hover .activities__item-img {
      fill: $color-icon-active;
    }
    &:hover:after {
      background-color: $color-icon-active;
    }
  }
}
