// ================================================== ad aside
.ad {
  height: 150px;
  border: 1px solid rgb(0, 255, 4);
  background-image: linear-gradient(to top, #211b19, #4e3427);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ad__wrapper {
  margin: 0 470px 0 0;
}

.ad__title {
  @extend %font-first-regular;
  font-weight: 400;
  width: 100%;
  margin: 0;
  font-size: 28px;
  color: $color-text-light-primary;
  line-height: 1.2;
  text-align: left;
}

.ad__title span {
  color: $color-text-light-secondary;
}

.ad__text {
  @extend %font-second-light;
  color: $color-text-light-quaternaly;
  width: 100%;
  margin: 0;
  object-fit: contain;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.ad__button {
  @include button;
}
