//plugging of the fonts localy with all crossbrowserness

@font-face {
  font-family: raleway;
  src: url('../fonts/raleway/regular/raleway-regular.eot');
  src: url('../fonts/raleway/regular/raleway-regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/raleway/regular/raleway-regular.woff2') format('woff2'),
    url('../fonts/raleway/regular/raleway-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: raleway;
  src: url('../fonts/raleway/medium/raleway-medium.eot');
  src: url('../fonts/raleway/medium/raleway-medium.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/raleway/medium/raleway-medium.woff2') format('woff2'),
    url('../fonts/raleway/medium/raleway-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: raleway;
  src: url('//fonts/raleway/semi-bold/raleway-semibold.eot');
  src: url('//fonts/raleway/semi-bold/raleway-semibold.eot?#iefix')
      format('embedded-opentype'),
    url('//fonts/raleway/semi-bold/raleway-semibold.woff2') format('woff2'),
    url('//fonts/raleway/semi-bold/raleway-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: raleway;
  src: url('../fonts/raleway/extra-bold/raleway-extrabold.eot');
  src: url('../fonts/raleway/extra-bold/raleway-extrabold.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/raleway/extra-bold/raleway-extrabold.woff2') format('woff2'),
    url('../fonts/raleway/extra-bold/raleway-extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: montserrat;
  src: url('../fonts/montserrat/light/montserrat-light.eot');
  src: url('../fonts/montserrat/light/montserrat-light.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/montserrat/light/montserrat-light.woff2') format('woff2'),
    url('../fonts/montserrat/light/montserrat-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: montserrat;
  src: url('../fonts/montserrat/extra-light/montserrat-extralight.eot');
  src: url('../fonts/montserrat/extra-light/montserrat-extralight.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/montserrat/extra-light/montserrat-extralight.woff2')
      format('woff2'),
    url('../fonts/montserrat/extra-light/montserrat-extralight.woff')
      format('woff');
  font-weight: 200;
  font-style: normal;
}

// extends of the localy plugged fonts

%font-first-regular {
  font-family: 'raleway', 'arial', sans-serif;
  font-weight: 400;
  font-style: normal;
}

%font-first-medium {
  font-family: 'raleway', 'arial', sans-serif;
  font-weight: 500;
  font-style: normal;
}

%font-first-semibold {
  font-family: 'raleway', 'arial', sans-serif;
  font-weight: 600;
  font-style: normal;
}

%font-first-extrabold {
  font-family: 'raleway', 'arial', sans-serif;
  font-weight: 800;
  font-style: normal;
}

%font-second-light {
  font-family: 'montserrat', 'arial', sans-serif;
  font-weight: 300;
  font-style: normal;
}

%font-second-extralight {
  font-family: 'montserrat', 'arial', sans-serif;
  font-weight: 200;
  font-style: normal;
}
