// ================================================== Header styles
.header {
  display: flex;
  flex-direction: column;
  width: 1920px;
  height: 1024px;
  border: 1px solid #000;
  box-sizing: border-box;
  background-image: url(../img/background-images/header-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #555556;
  background-blend-mode: multiply;
  // ================================================== Header-top
  &__top {
    display: flex;
    margin: 30px 0 0 0;
    padding: 0 374px 0 376px;
  }
  &__logo {
    display: flex;
    margin-top: 8px;
    transition: transform 500ms;
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(0.9);
    }
    &-text {
      @extend %font-first-regular;
      margin: 8px 0 15px -20px;
      font-size: 34px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.5px;
      text-align: right;
      color: $color-text-light-primary;
    }
  }
  &__nav {
    display: flex;
    margin-left: 185px;
    padding: 28px;
    min-width: 699px;
  }
  &__list {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
  }
  &__item {
    display: flex;
  }
  &__item-link {
    @extend %font-second-light;
    object-fit: contain;
    font-size: 14px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $color-text-light-primary;
    display: flex;
    &:hover {
      color: $color-text-light-secondary;
    }
  }
  &__basket-button {
    margin: 3px 22px 11px 31px;
    background: none;
  }
  &__search-form {
    padding: 23px 0 10px 0;
    input[type='search'] {
      width: 40px;
      height: 40px;
      outline: none;
      background-image: url('../img/icons/search-icon.svg');
      background-size: contain;
      background-repeat: no-repeat;
      border: 1px solid gray;
      &:focus {
        width: 300px;
        transition: width 1s ease-out;
        background-position: right;
      }
    }
  }
  // ================================================== Header-carousel
  &__carousel {
    width: 1920px;
    min-height: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 150px 0 150px;
  }
  &__carousel-textbox {
    min-height: 200px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 256px 0 118px 0;
    margin-bottom: 152px;
  }
  // ==================================================== carousel-arrows
  &__arrow_left {
    box-sizing: border-box;
    height: 80px;
    width: 45px;
    margin-top: 352px;
  }
  &__arrow_right {
    height: 80px;
    width: 45px;
    margin-top: 352px;
  }
  // ==================================================== carousel-text
  &__subtitle {
    @include title(
      $size: 36px,
      $ff: $font-main,
      $fw: 500,
      $color: $color-text-light-primary,
      $lh: normal,
      $ta: center
    );
    align-items: center;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
  }
  &__title {
    @include title(
      $size: 52px,
      $ff: $font-main,
      $fw: 800,
      $color: $color-text-light-primary,
      $lh: normal,
      $ta: center
    );
    margin: 0 auto;
  }
  &__text {
    @include text(
      $size: 16px,
      $ff: $font-secondary,
      $fw: 300,
      $color: $color-text-light-primary,
      $lh: 1.5,
      $ta: center
    );
    margin: 0 auto;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
  }
  &__button {
    @include button;
    margin: 0 auto;
  }
  // ==================================================== Header__paggination
  &__paggination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 30px;
    margin-top: 45px;
  }

  &__paggination-item {
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: $color-paggination;
    &:hover {
      background-color: transparent;
      border: 2px solid $color-paggination-hover;
      transform: scale(1.5);
    }
  }
}
