@mixin title(
  $size: 30px,
  $ff: $font-main,
  $fw: 500,
  $color: $color-text-dark-primary,
  $lh: normal,
  $ta: center
) {
  font-size: $size;
  font-family: $ff;
  font-weight: $fw;
  color: $color;
  line-height: $lh;
  text-align: $ta;

  display: block;
  width: 100%;
  margin-bottom: 10px;
}

@mixin text(
  $size: 16px,
  $ff: $font-secondary,
  $fw: 300,
  $color: $color-text-dark-secondary,
  $lh: 1.75,
  $ta: center
) {
  font-size: $size;
  font-family: $ff;
  font-weight: $fw;
  color: $color;
  line-height: $lh;
  text-align: $ta;
}

@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 53px;
  border: none;
  border-bottom: 2px solid $color-button-shadows;
  border-radius: 3px;
  background-color: $color-button-primary;
  box-shadow: inset 0px -3px 0 0 $color-button-shadows;
  color: $color-text-light-primary;
  object-fit: contain;
  cursor: pointer;
  transition: transform 10ms;
  // ===================================== font
  font-family: 'raleway', 'arial', sans-serif;
  font-weight: 800;
  font-style: normal;
  line-height: 52px;
  font-size: 14px;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: normal;
  text-transform: uppercase;
  text-decoration: none;
  // ===================================== effects
  &:hover {
    background-color: $color-button-primary;
    transform: scale(1.03);
    & .button-text {
      color: $color-text-dark-primary;
    }
  }
  &:active {
    background-color: $color-button-shadows;
    transform: scale(0.97);
    & .button-text {
      color: $color-text-light-primary;
    }
  }
}

// @mixin button-text {
// }
