// ================================================== screenshots section
.screenshots {
  display: flex;
  flex-wrap: wrap;
  padding: 80px 344px 0 344px;
  height: 700px;
  border: 1px solid rgb(162, 0, 255);
  background-color: $color-background-secondary;
  &__textbox {
    margin: 0 auto;
    width: 760px;
    flex-wrap: wrap;
  }
  &__images {
    width: 100%;
    min-height: 485px;
    background-image: url('/img/content/browser-center@3x.jpg'),
      url('/img/content/browser-left@3x.jpg'),
      url('/img/content/browser-right@3x.jpg');
    background-size: 62%, 62%, 62%;
    background-repeat: no-repeat;
    background-position: bottom center, bottom left, bottom right;
    &:hover {
      background-image: url('/img/content/browser-left@3x.jpg'),
        url('/img/content/browser-center@3x.jpg'),
        url('/img/content/browser-right@3x.jpg');
    }
  }
}
