@import 'variables';
@import 'zeroing';
@import 'fonts';
@import 'mixins';
@import 'header';
@import 'body-main';
@import 'activities';
@import 'screenshots';
@import 'aside';
@import 'our-latest-projects';
// ================================================== waxom-video-presentation
.waxom-video-presentation {
  height: 705px;
  border: 1px solid rgb(162, 0, 255);
  background-image: url(/img/background-images/video-presentation.png);
}
// ================================================== excellent-for-mobile
.excellent-for-mobile {
  height: 695px;
  border: 1px solid rgb(162, 0, 255);
  background-color: $color-background-secondary;
}
// ================================================== quantities
.quantities {
  height: 300px;
  border: 1px solid rgb(162, 0, 255);
  background-image: linear-gradient(to top, #211b19, #4e3427);
}
// ================================================== recent-posts
.recent-posts {
  height: 750px;
  border: 1px solid rgb(162, 0, 255);
  background-color: $color-icon-primary;
}
// ================================================== logotypes
.logotypes {
  height: 489px;
  border: 1px solid rgb(162, 0, 255);
  background-image: url(/img/background-images/mountanes.png);
}
// ================================================== .contacts
.contacts {
  height: 508px;
  border: 1px solid rgb(162, 0, 255);
  background-color: $color-background-tertialy;
}
// ================================================== footer
.footer {
  width: 1920px;
  height: 111px;
  border: 1px solid rgb(162, 0, 255);
  background-color: $color-background-quaternaly;
}

// logo-variant
.logo {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 181px;
  text-decoration: none;
  background-color: #484642;
  color: #fff;
}

.logo-svg {
  fill: currentColor;
}

.logo-txt {
  font-family: Raleway;
  font-size: 34px; /* Approximation due to font substitution */
  font-weight: 400;
  text-align: right;
}

.logo:hover {
  color: #998675;
}
