@import 'zeroing';
@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'general';
@import 'header';
@import 'activities';
@import 'screenshots';
@import 'aside';
@import 'our-latest-projects';
@import 'presentation';
@import 'excellent-for-mobile';
@import 'quantities';

// ================================================== recent-posts
.recent-posts {
  height: 750px;
  border: 1px solid rgb(162, 0, 255);
  background-color: $color-icon-primary;
}
// ================================================== logotypes
.logotypes {
  height: 489px;
  border: 1px solid rgb(162, 0, 255);
  background-image: url(/img/background-images/mountanes.png);
}
// ================================================== .contacts
.contacts {
  height: 508px;
  border: 1px solid rgb(162, 0, 255);
  background-color: $color-background-tertialy;
}
// ================================================== footer
.footer {
  width: 1920px;
  height: 111px;
  border: 1px solid rgb(162, 0, 255);
  background-color: $color-background-quaternaly;
}

// logo-variant
.logo {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 181px;
  text-decoration: none;
  background-color: #484642;
  color: #fff;
}

.logo-svg {
  fill: currentColor;
}

.logo-txt {
  font-family: Raleway;
  font-size: 34px; /* Approximation due to font substitution */
  font-weight: 400;
  text-align: right;
}

.logo:hover {
  color: #998675;
}
